.box-info {
    position: relative;
}

.box-info-text {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-family: math;
    font-size: 30px;
    width: 50%;
    font-weight: 500;

}

.box-info-text button {
    padding: 15px 30px;
    border: none;
    background-color: #008060;
    border-radius: 50px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.box-info-image img {
    width: 100%;

}
.box-info-image, .trendy-image {
    overflow: hidden;
}
.lazyloaded {
    display: flex;
    gap: 30px;
    margin: 35px 0;
}
.box-info-image img:hover, .trendy-image  img:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
   
}