.product-main {
    padding: 20px 100px;
}

#filterPrice {
    margin-right: 10px;
}

#page>ul>li {
    display: flex;
    align-items: center;
}



article .products {
    grid-template-columns: repeat(4, 1fr);
}

aside button {
    width: 100%;
}

#tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.banner-product {
    height: 300px;
    background-image: url(https://charmee-store-demo.myshopify.com/cdn/shop/files/banner-collection.jpg?v=1613705901);
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

}

.banner-product img {
    border-radius: 15px;
}

.banner-text {
    text-align: center;
}

.banner-product h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-family: math;
    letter-spacing: 5px;
    margin-top: 5px;
   
}

.banner-product button {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #F8BF85;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
   
}

main {
    display: flex;

}

aside {
    width: 18%;
    /* overflow-y: auto; */
    margin-right: 10px;
    border-radius: 15px;
    padding-bottom: 30px;
    /* height: 100vh; */


}

article {
    width: 80%;
    /* overflow-y: auto; */
    border-radius: 15px;
    padding-bottom: 30px;
    margin-left: 30px;
}

aside h3 {


    padding: 5px;

    color: #b29472;

}

aside button {
    border: none;
    font-size: 20px;

    background: none;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
}

aside button:focus {

    color: #f12;
}

aside button img {
    margin-right: 7px;
}

.item-aside {
    margin-bottom: 20px;
    border-bottom: 1px solid #F8BF85;
    padding-bottom: 20px;
}