.profile-main{
    min-height: 80vh;
    padding: 20px 100px;
    margin-top: 80px;
}
.avatar{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}
.upload-avatar{
  padding: 5px 10px;
  background-color: #2986CC;
  color:#fff;
  margin-left: 50px;
  margin-top:3px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
.upload-avatar:hover{
  background-color: #16537E;

}
#loadingAvatar{
  width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 15%;
}
.ant-card-body{
  position: relative;
}