#cart {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.cart-main {
  padding: 30px 60px;
}
.cart-main h3{
  margin-bottom: 10px;
}
#cart th {
  padding: 10px;
  background-color: #015E6B;
  color: #fff;
}
#cart th,td {
  border-bottom: 1px solid #ccc;
  text-align: center;
  height: max-content;
}
td img {
  width: 100px;
  margin: 10px 0;
}
.cart-err {
  text-align: center;
}
.cart-err img {
  width: 200px;
}
.btn-removeCart {
  font-size: 18px;
  border-radius: 5px;
  background-color: #357ebd;
  border: none;
  padding: 10px;
  color: #fff;
}
.btn-removeCart:hover {
  background-color: #ED2B2A;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  cursor: pointer;
}
#checkout button{
  padding: 15px 30px;
    border: none;
    background-color: #008060;
    border-radius: 50px;
    color: #fff;
  
    cursor: pointer;
    text-transform: uppercase;
}
#checkout{
  text-align: right;
  padding-top: 20px;
}