.order-main{
    padding: 20px 100px;
    min-height: 60vh;
}
#table-order{
    width: 100%;
    margin-top: 30px;
}
.order-main>h1{
   border-bottom: 2px solid #FF8400;
   margin-bottom: 20px;
   padding-bottom: 10px;


}
#table-order th{
    background-color: #015E6B;
    color:#fff;
    padding: 10px;
}