#sendMail input{
    border: 1.5px solid #CECFD3;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    outline: none;
    margin-top: 10px;
}
#sendMail input:focus{
    border: 2px solid #2986CC;
}
#sendMail{
    width: 400px;
    /* background-image: url(https://anivershop-store-demo.myshopify.com/cdn/shop/files/banner72.jpg?v=1614764444); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    border-radius: 7px 0 0 7px;
    /* background-color: #EEEEEE; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}
#sendMail img{
    position: absolute;
    top: 10%;
    width: 100px;
    height: 100px;
}
.formItem> button{
    background-color: #2986CC;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 350px;
    margin: 20px 0;
}
.mail-main{
   
    height: fit-content;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    width: fit-content;
    margin: 150px auto;
    border-radius: 7px;
    border: 1px solid #ccc;

    
    
    
}
.formItem a{
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.mail-img{
    width: 300px;
}
.mail-img img{
    width: 100%;
    height: 400px;
    border-radius: 0 7px 7px 0;
}
#msg_token{
    position: absolute;
    top: 0;
    color: #2986CC;
    padding: 20px 30px;
}
